<HTML>
    <HEAD>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/admin.css">

    </HEAD>

<BODY>

<div class="row offset1" id="main">
    <div class="container panel panel-default col-lg-9 col-md-offset-1">
        <div class="panel-heading row">
            <div class="col-lg-6 col-md-offset-3">
              <h2> Select Meal Component</h2>
            </div>
        </div>
    <div class="row">
        <div class="panel-body">
             <div class="">
               <!-- <var id="result-container" class="result-container"></var>-->
                 <form id="searchForm" action="/" method="GET">
                 <div class="input-group">
                     <input name="id" class="hidden">
                    <input name="text" type="text" class="form-control ui-autcomplete" id="control" placeholder="Search for..." autocomplete="on">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                 </div>
                 </form>
        </div>
        </div>
        </div>
        {% include "paginate.html" %}
        <ul>
        <table class="table">
                <tr>
                <th>Name</th>
                    <th>Carbohydrate</th>
                <th>Fat</th>
                <th>Protein</th>
                <th>Sugar</th>
                <th>Search</th>

                </tr>

         {% for ech in results %}
            <tr>
                <td>
                    {{ ech.name }}<br>
                    {{ech.mfgName}}  {{ech.itemDescription}}
                Total Calories: {{ech.totalCal}} Kcal
                </td>
            <td>{{ech.carb}} gms</td>
            <td>{{ech.fat}} gms</td>
            <td>{{ech.protein}} gms</td>
            <td>{{ech.sugar}} gms</td>
            <td>
                <a href="replace/?id={{ech.id}}"><button type="button" class="btn btn-default btn-lg">
  <span  class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
</button></a></td>

                </tr>


        {% endfor %}
         </table>
        </ul>

    </div>
  </div>
<script>
var foodId;
var sourceFunc=function(request,callback){
    document.foodId=null;
    var searchTerm=request.term;
    var url='api/search?txt='+searchTerm;
    var remoteSearch=$.ajax({
    url:url,method:"GET",dataType:"json"
    ,success:function(data){
    callback($.map(data,function(val){
    return {view:val.view,label:val.view,id:val.id};
    }));
    }
    })
    remoteSearch.done();

}
var selectFunc=function(event,ui){
    var label=ui.item.label;
    var id=ui.item.id;
    document.foodId=id;
   $(".input-group input[name='id']").val((document.foodId));
    $("#searchForm").submit();
}
$('#control').autocomplete({
    source:sourceFunc,
    select:selectFunc});

/*
$('.input-group-btn').click(function(){
var txt=$('#control').val()
txt=txt.replace(" ","%20");
window.location.href="http://localhost:5252/?text="+txt
});*/
</script>

</BODY>
</HTML>