<HTML>
    <HEAD>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">

    </HEAD>
<BODY>

<div class="row offset1">
    <div class="container panel panel-default col-lg-6 col-md-offset-3">
        <div class="panel-heading row">
            <div class="col-lg-6 col-md-offset-3">
               Search for the Correct Food Item
            </div>
        </div>
    <div class="row">
        <div class="panel-body">
             <div class="">
               <!-- <var id="result-container" class="result-container"></var>-->
                 <form id="searchForm" action="/" method="GET">
                 <div class="input-group">
                     <input name="id" class="hidden">
                    <input name="text" type="text" class="form-control ui-autcomplete" id="control" placeholder="Search for..." autocomplete="on">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                 </div>
                 </form>
        </div>
        </div>
        </div>
        {% if totalPages > 1 %}
        <ul class="pagination">
        {% if curr_page > 1 %}
                <li><a href="/?{{url}}&pageNo={{ curr_page|add:'-1' }}">&laquo;</a></li>
        {% else %}
                <li><a href="/?{{url}}&pageNo={{curr_page}}">&laquo;</a></li>
        {% endif %}
         {% for i in totalPageRange %}
            {% if i = curr_page %}<li class="active">{% else %}<li>{% endif %}
            <a  href="/?{{url}}&pageNo={{i}}">{{i}}</a></li>
          {% endfor  %}
        {% if curr_page > 1 %}
                <li><a href="/?{{url}}&pageNo={{ curr_page|add:'+1' }}">&raquo;</a></li>
        {% else %}
                <li><a href="/?{{url}}&pageNo={{curr_page}}">&raquo;</a></li>
        {% endif %}
        {% endif %}
        </ul>
        <ul>
        {% for ech in results %}
            <li><h4>{{ ech.name }}</h4></li>
            Total Calories: {{ech.totalCal}} Kcal<br>
            <table class="table">
                <tr>
                <th>Carbohydrate</th>
                <th>Fat</th>
                <th>Protein</th>
                <th>Sugar</th>

                </tr>
                <tr>
            <td>{{ech.carb}} gms</td>
            <td>{{ech.fat}} gms</td>
            <td>{{ech.protein}} gms</td>
            <td>{{ech.sugar}} gms</td>
                </tr>
            </table>
            <hr>
        {% endfor %}
        </ul>

    </div>
  </div>
<script>
var foodId;
var sourceFunc=function(request,callback){
    document.foodId=null;
    var searchTerm=request.term;
    var url='api/search?txt='+searchTerm;
    var remoteSearch=$.ajax({
    url:url,method:"GET",dataType:"json"
    ,success:function(data){
    callback($.map(data,function(val){
    return {view:val.view,label:val.view,id:val.id};
    }));
    }
    })
    remoteSearch.done();

}
var selectFunc=function(event,ui){
    var label=ui.item.label;
    var id=ui.item.id;
    document.foodId=id;
   $(".input-group input[name='id']").val((document.foodId));
    $("#searchForm").submit();
}
$('#control').autocomplete({
    source:sourceFunc,
    select:selectFunc});

/*
$('.input-group-btn').click(function(){
var txt=$('#control').val()
txt=txt.replace(" ","%20");
window.location.href="http://localhost:5252/?text="+txt
});*/
</script>

</BODY>
</HTML>